[Unit]
Description=PGPool-II
Documentation=man:pgpool(8)
After=network.target

[Service]
User=postgres
Group=postgres
EnvironmentFile=-/etc/sysconfig/pgpool
ExecStart=/usr/bin/pgpool -n -f /etc/pgpool/pgpool.conf $OPTS
ExecStop=/usr/bin/pgpool -f /etc/pgpool/pgpool.conf $STOP_OPTS stop
ExecReload=/usr/bin/pgpool -f /etc/pgpool/pgpool.conf reload

[Install]
WantedBy=multi-user.target
