[Unit]
Description=PGPool-II
Documentation=man:pgpool(8)
After=network.target

[Service]
User=pgpool
Group=pgpoll
EnvironmentFile=-/etc/sysconfig/pgpool
ExecStart=/usr/bin/pgpool -n -f /etc/pgpool/pgpool.conf $OPTS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
